---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
		<h1>About</h1>
		<p>
			My name is Lucas Galdino. I'm a Brazilian-Canadian student of
			biomedical engineering and data science living in Portugal. I also
			play music and am an Orthodox Christian. Welcome to my personal
			website and blog.
		</p>
		<p>
			This place is both my portfolio and personal blog. Here, you can
			find links to various coding and academic projects as well as
			articles and videos on topics that interest me. In this website, and
			in my YouTube channel, we'll explore topics on the intersection of
			coding and health, with maybe a pinch of philosophy here and there.
			If that interests you, I hope you might find my content informative
			or enjoyable. This is an experiment. I don't know where it will
			lead.
		</p>
	</body>
</html>
