---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "Home - Lucas Galdino";
---

<BaseLayout pageTitle={pageTitle}>
	<h1>Lucas Galdino</h1>
	<h2>Studying biomedical enginering, writing articles and coding projects</h2>
</BaseLayout>
